<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/messages.css">
    <title>Messages</title>
</head>
<body>
    <button class="button_back"> <a href="/" style="text-decoration: none;">SEARCH ANOTHER</a>
    </button>
    <br><br>

    <h4>Logs</h4>
    <div>
        <%let i=1%>
    <%for (let message of messages){%>
  <p><%=i++%>&nbsp;&nbsp;<%= message%></p> 
    <hr/>
    <%}%>
</div>
</body>
</html>