<html>
    <head>
        <title>
            home
        </title>
       
        

        <%- style %>
        
    </head> 

    <body style="background-color:rgba(125, 125, 233, 0.34);">

       
        <main id="layout-main">
            <%- body %>
            

        </main>
    
         <!-- <%- include('forms'); %>  -->
        
        
      



       

        <%- script %>
        
    </body>
</html>